body{
   font-family: 'Open Sans', sans-serif;

}


h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

p {
color: white;

}

#my-header{
  text-align: center;
  padding-top: 150 px;
  padding-bottom: 150 px;
  color : white;
  background: url("http://lorempixel.com/1300/600/nightlife");


}

.feature{
  font-weight: 300 ;
  padding-top: 40px;

}

.feature img{
  padding:20px;
  border: 2px solid black;
  border-radius: 50%;
}

#my-footer{

  padding: 30px;
  background: #34495e;
}

#my-footer a{
  color: lightgrey;
  font-size: 30px;

}

#my-footer a:hover {
  color: white;

}








